# Scrapping the Wikipedia Page

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', None)

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

## Using BeautifulSoup

In [2]:
df=pd.DataFrame(columns={'PostalCode','Borough','Neighborhood'})

In [3]:
df

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### loading the data in df dataframe

In [4]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')
i=0
for items in soup.find('table', class_='wikitable').find_all('tr')[1::1]:
    data = items.find_all(['th','td'])
    try:
        PostalCode = data[0].text
        Borough=data[1].text
        Neighborhood= data[2].text
    except IndexError:pass
    df.loc[i]=PostalCode,Borough,Neighborhood
    i=i+1

In [5]:
df.head()

  PostalCode             Borough                 Neighborhood
0  M1A\n      Not assigned\n      Not assigned\n
1  M2A\n      Not assigned\n      Not assigned\n
2  M3A\n      North York\n        Parkwoods\n
3  M4A\n      North York\n        Victoria Village\n
4  M5A\n      Downtown Toronto\n  Regent Park, Harbourfront\n

### CLeaning the Dataset df

In [6]:
# removing \n from datframe
df2=df.replace({'\n': ''}, regex=True)

In [7]:
df2.head()

  PostalCode           Borough               Neighborhood
0  M1A        Not assigned      Not assigned
1  M2A        Not assigned      Not assigned
2  M3A        North York        Parkwoods
3  M4A        North York        Victoria Village
4  M5A        Downtown Toronto  Regent Park, Harbourfront

## removing Not assigned from Borough

In [8]:
df3=df2[df2['Borough']!='Not assigned']

### restting the index

In [9]:
df3 = df3.reset_index(drop=True)

In [10]:
df3.head()

  PostalCode           Borough                                 Neighborhood
0  M3A        North York        Parkwoods
1  M4A        North York        Victoria Village
2  M5A        Downtown Toronto  Regent Park, Harbourfront
3  M6A        North York        Lawrence Manor, Lawrence Heights
4  M7A        Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:
df3.shape

(103, 3)